
.uploaded_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  border-style: solid;
  border-width: medium;
  border-color: #0070f3;
  width: 10rem;
  height: 10rem;
}

.uploaded_image:hover,
.uploaded_image:focus,
.uploaded_image:active {
  border-color: #ff0000;
}